<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>FastShop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <link rel="shortcut icon" href="/images/favicon.ico">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/theme.min.css" rel="stylesheet" type="text/css"/>
</head>

<body>

<!-- Begin page -->
<div id="layout-wrapper">
    <div class="header-border"></div>


    <!-- ========== Left Sidebar Start ========== -->
    <div th:include="manage/menus"></div>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0 font-size-18">分类管理</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <div class="row">
                    <div class="col-xl-4">
                        <a href="addCategory">
                            <button type="button" class="btn btn-secondary waves-effect waves-light">增加主类</button>
                        </a>
                    </div>
                </div>
                <div style="height: 10px"></div>
                <div class="row">
                    <div class="col-xl-4" th:each="cat:${categories}" th:if="${cat.key.id != 998}">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title" th:text="${cat.key.title}"
                                    th:style="${'color:'+(cat.key.hidden?'red':'green')}">Unordered</h4>
                                <div class="btn-group mb-2">
                                    <a th:href="${'addCategory?superId='+cat.key.id}">
                                        <button type="button" class="btn btn-light btn-sm waves-effect waves-light">
                                            增加子类
                                        </button>
                                    </a>
                                    <button type="button"
                                            class="btn btn-info btn-sm dropdown-toggle dropdown-toggle-split"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="mdi mdi-chevron-down"></i><span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu" x-placement="bottom-start"
                                         style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(95px, 35px, 0px);">
                                        <a class="dropdown-item" th:href="${'editCategory?catId='+cat.key.id}">编辑</a>
                                        <a class="dropdown-item" th:href="${'showChange?cid='+cat.key.id}">隐藏/展示</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#" style="color:red">删除</a>
                                    </div>
                                </div>
                                <ul>
                                    <li th:each="cts:${cat.value}">
                                        <span th:text="${cts.title}">name</span>
                                        <img th:src="${cts.imgUrl}" style="width: 50px;height: 50px"/>
                                        <div class="btn-group mb-2">
                                            <a th:href="${'goodsManage?categoryId='+cts.id}">
                                                <button type="button"
                                                        class="btn btn-light btn-sm waves-effect waves-light">管理商品
                                                </button>
                                            </a>
                                            <button type="button"
                                                    class="btn btn-secondary  btn-sm dropdown-toggle dropdown-toggle-split"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="mdi mdi-chevron-down"></i><span class="sr-only">Toggle Dropdown</span>
                                            </button>
                                            <div class="dropdown-menu" x-placement="bottom-start"
                                                 style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(95px, 35px, 0px);">
                                                <a class="dropdown-item"
                                                   th:href="${'editCategory?catId='+cts.id}">编辑</a>
                                                <a class="dropdown-item" th:href="${'showChange?cid='+cts.id}">隐藏/展示</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#" style="color:red">删除</a>
                                            </div>
                                        </div>
                                        <div class="btn-group mb-2">
                                            <button type="button" th:onclick="${'copyCategoryUrl('+cts.id+')'}"
                                                    class="btn btn-success btn-sm waves-effect waves-light">链接
                                            </button>
                                        </div>
                                    </li>
                                </ul>


                            </div> <!-- end card-body-->
                        </div> <!-- end card -->
                    </div>
                    <div class="col-xl-4">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">系统分组</h4>
                                <ul>
                                    <li>
                                        <span>拼团商品</span>
                                        <a href="goodsManage?categoryId=999">
                                            <button type="button"
                                                    class="btn btn-warning btn-sm waves-effect waves-light">管理商品
                                            </button>
                                        </a>
                                        <button type="button" onclick="copyCategoryUrl(999)"
                                                class="btn btn-success btn-sm waves-effect waves-light">复制链接
                                        </button>
                                    </li>
                                    <li style="padding-top: 10px">
                                        <span>待分组商品</span>
                                        <a href="goodsManage?categoryId=1000">
                                            <button type="button"
                                                    class="btn btn-warning btn-sm waves-effect waves-light">管理商品
                                            </button>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->


    </div>
    <!-- end main content-->

</div>
<!-- END layout-wrapper -->

<script>
    function copyCategoryUrl(cid) {
        if (copyText('http://fastshop.bigdata8.xin/shop/productCategoryList?category=' + cid)) {
            alert("复制成功!");
        } else {
            alert("复制失败!浏览器不支持");
        }
    }

    function copyText(text) {
        var textarea = document.createElement("input");//创建input对象
        var currentFocus = document.activeElement;//当前获得焦点的元素
        document.body.appendChild(textarea);//添加元素
        textarea.value = text;
        textarea.focus();
        if (textarea.setSelectionRange)
            textarea.setSelectionRange(0, textarea.value.length);//获取光标起始位置到结束位置
        else
            textarea.select();
        try {
            var flag = document.execCommand("copy");//执行复制
        } catch (eo) {
            var flag = false;
        }
        document.body.removeChild(textarea);//删除元素
        currentFocus.focus();
        return flag;
    }
</script>
<!-- Overlay-->
<div class="menu-overlay"></div>

<!-- jQuery  -->
<script src="/js/jquery-1.8.1.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/metismenu.min.js"></script>
<script src="/js/waves.js"></script>
<script src="/js/simplebar.min.js"></script>


<!-- Sparkline Js-->
<script src="/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
<!-- Chart Js-->
<script src="/plugins/jquery-knob/jquery.knob.min.js"></script>
<!-- Chart Custom Js-->
<!--<script src="assets/pages/knob-chart-demo.js"></script>-->
<!-- Morris Js-->
<script src="/plugins/morris-js/morris.min.js"></script>
<!-- Raphael Js-->
<script src="/plugins/raphael/raphael.min.js"></script>
<!-- Custom Js -->
<!--<script src="assets/pages/dashboard-demo.js"></script>-->
<!-- App js -->
<script src="/js/theme.js"></script>
</body>

</html>