<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>FastShop</title>
    <meta id="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <link rel="shortcut icon" href="/images/favicon.ico">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/theme.min.css" rel="stylesheet" type="text/css"/>
    <!-- Plugins css -->
    <link href="/plugins/quill/quill.core.css" rel="stylesheet" type="text/css"/>
    <link href="/plugins/quill/quill.bubble.css" rel="stylesheet" type="text/css"/>
    <link href="/plugins/quill/quill.snow.css" rel="stylesheet" type="text/css"/>
    <!-- Dropify css -->
    <link href="/plugins/dropify/dropify.min.css" rel="stylesheet" type="text/css"/>

</head>

<body>

<!-- Begin page -->
<div id="layout-wrapper">
    <div class="header-border"></div>


    <!-- ========== Left Sidebar Start ========== -->
    <div th:include="manage/menus"></div>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0 font-size-18">编辑商品</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-xl-12">

                        <div class="card">
                            <div class="card-body">
                                <form class="form-horizontal">
                                    <div class="form-group row mb-3">
                                        <label class="col-3 col-form-label">商品标题</label>
                                        <div class="col-9">
                                            <input type="text" id="title" th:value="${product.title}"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <label class="col-3 col-form-label">
                                            商品分类<span style="color: red;">（拼团商品请选末尾拼团分类）</span>
                                        </label>
                                        <div class="col-9">
                                            <select class="form-control mb-3" id="categoryId">
                                                <option th:each="op:${options}"
                                                        th:text="${op.key}"
                                                        th:value="${op.value}"
                                                        th:selected="${op.value==product.categoryId?'selected':'false'}">
                                                    Default select
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <label class="col-3 col-form-label">简要描述</label>
                                        <div class="col-9">
                                            <input type="text" id="simpleDesc" th:value="${product.simpleDesc}"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <label class="col-3 col-form-label">现价(单位分)</label>
                                        <div class="col-9">
                                            <input type="text" id="price" th:value="${product.price}"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <label class="col-3 col-form-label">原价(单位分)</label>
                                        <div class="col-9">
                                            <input type="text" id="previousPrice" th:value="${product.previousPrice}"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <label class="col-3 col-form-label">商品标(英文逗号分隔)</label>
                                        <div class="col-9">
                                            <input type="text" id="tags" th:value="${product.tags}"
                                                   class="form-control" placeholder="提示: 拼团商品展示在[全民团]文案旁边">
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <label class="col-3 col-form-label">已售</label>
                                        <div class="col-9">
                                            <input type="text" id="sold" th:value="${product.sold}"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <label class="col-3 col-form-label">库存</label>
                                        <div class="col-9">
                                            <input type="text" id="stock" th:value="${product.stock}"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <label class="col-3 col-form-label">商品编号</label>
                                        <div class="col-9">
                                            <input type="text" id="productNo" th:value="${product.productNo}"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <label class="col-3 col-form-label">
                                            主图
                                        </label>
                                        <div class="col-9">
                                            <input type="hidden" id="imgUrl" th:value="${product.imgUrl}"
                                                   class="form-control">
                                            <input class="dropify" type="file" id="bind_imgUrl"
                                                   onchange="doUpload(this)"
                                                   th:data-default-file="${product.imgUrl}">
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <label class="col-3 col-form-label">品牌</label>
                                        <div class="col-9">
                                            <input type="text" id="brand" th:value="${product.brand}"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <label class="col-3 col-form-label">具体子类</label>
                                        <div class="col-9">
                                            <input type="text" id="subType" th:value="${product.subType}"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <label class="col-3 col-form-label">描述评价(满分5分)</label>
                                        <div class="col-9">
                                            <input type="text" id="starOfDesc"
                                                   th:value="${#numbers.formatDecimal(product.starOfDesc,1,1)}"
                                                   class="form-control" value="5.0">
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <label class="col-3 col-form-label">质量评价(满分5分)</label>
                                        <div class="col-9">
                                            <input type="text" id="starOfQuality"
                                                   th:value="${#numbers.formatDecimal(product.starOfQuality,1,1)}"
                                                   class="form-control" value="5.0">
                                        </div>
                                    </div>
                                    <input type="hidden" id="standards" th:value="${product.standards}">
                                    <div class="form-group row mb-3" th:each="std,stat:${standards}">
                                        <label class="col-3 col-form-label" th:if="${stat.index == 0}">
                                            规格信息<b style="color:red">(操作此项会刷新页面)</b>
                                        </label>
                                        <label class="col-3 col-form-label" th:if="${stat.index > 0}">

                                        </label>
                                        <div class="col-9">
                                            <span class="badge badge-dark" th:text="${std.name}">Dark</span>
                                            <div class="btn-group mb-2" th:each="op:${std.options}">
                                                <button type="button" class="btn btn-info waves-effect waves-light"
                                                        th:text="${op}">Primary
                                                </button>
                                                <button type="button"
                                                        class="btn btn-primary dropdown-toggle dropdown-toggle-split waves-effect waves-light"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                    <i class="mdi mdi-chevron-down"></i><span
                                                        class="sr-only">Dropdown</span>
                                                </button>
                                                <div class="dropdown-menu" x-placement="bottom-start"
                                                     style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(76px, 35px, 0px);">
                                                    <a class="dropdown-item"
                                                       th:href="${'javascript:deleteStandardInfo('+product.id+','''+std.name+''','''+op+''')'}">删除</a>
                                                </div>
                                            </div>
                                            <div class="btn-group mb-2">
                                                <button type="button"
                                                        th:onclick="${'deleteFullStandardInfo('+product.id+','''+std.name+''')'}"
                                                        class="btn btn-danger waves-effect waves-light">删除规格
                                                </button>
                                            </div>
                                            <div class="btn-group mb-2">
                                                <button type="button"
                                                        th:onclick="${'newStandardInfoForKey('+product.id+','''+std.name+''')'}"
                                                        class="btn btn-success waves-effect waves-light">新增
                                                </button>
                                            </div>

                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <label class="col-3 col-form-label"></label>
                                        <div class="col-9">
                                            <div class="btn-group mb-2">
                                                <button type="button" th:onclick="${'newStandardInfo('+product.id+')'}"
                                                        class="btn btn-success waves-effect waves-light">新增规格
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" id="infos" th:value="${product.infos}">
                                    <div class="form-group row mb-3">
                                        <label class="col-3 col-form-label">
                                            详细参数<b style="color:red">(操作此项会刷新页面)</b>
                                        </label>
                                        <div class="col-9">
                                            <div class="btn-group mb-2" th:each="info:${infos}">
                                                <button type="button" class="btn btn-light waves-effect waves-light"
                                                        th:text="${info.key+' : '+info.value}">Primary
                                                </button>
                                                <button type="button"
                                                        class="btn btn-secondary dropdown-toggle dropdown-toggle-split waves-effect waves-light"
                                                        data-toggle="dropdown" aria-haspopup="true"
                                                        aria-expanded="false">
                                                    <i class="mdi mdi-chevron-down"></i><span
                                                        class="sr-only">Dropdown</span>
                                                </button>
                                                <div class="dropdown-menu" x-placement="bottom-start"
                                                     style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(76px, 35px, 0px);">
                                                    <a class="dropdown-item"
                                                       th:href="${'javascript:deleteInfo('+product.id+','''+info.key+''')'}">删除</a>
                                                </div>
                                            </div>
                                            <div class="btn-group mb-2">
                                                <button type="button"
                                                        th:onclick="${'addInfo('+product.id+')'}"
                                                        class="btn btn-success waves-effect waves-light">新增
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3" style="text-align: center">
                                        <h5 style="width: 100%">------------------&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;以下为拼团商品特有参数，普通商品勿填&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;------------------</h5>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <label class="col-3 col-form-label">
                                            拼团商品滚动图<b style="color:red">(普通商品不填)</b>
                                        </label>
                                        <div class="col-9">
                                            <div class="btn-group mb-2" th:each="ptImg,stat:${images}">
                                                <input type="hidden" name="ptDetailImg" th:value="${ptImg}"
                                                       th:id="${'ptDetailImg'+stat.index}">
                                                <input class="dropify" type="file"
                                                       th:id="${'bind_ptDetailImg'+stat.index}"
                                                       onchange="doUpload(this)" th:data-default-file="${ptImg}">
                                            </div>
                                            <div class="btn-group mb-2" th:each="b,stat:${blankImages}">
                                                <input type="hidden" name="ptDetailImg"
                                                       th:id="${'ptDetailImg'+(4-stat.index)}">
                                                <input class="dropify" type="file"
                                                       th:id="${'bind_ptDetailImg'+(4-stat.index)}"
                                                       onchange="doUpload(this)">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <label class="col-3 col-form-label">成团人数(非拼团商品不填)</label>
                                        <div class="col-9">
                                            <input type="text" id="ptSize" th:value="${product.ptSize}"
                                                   class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <label class="col-3 col-form-label">开团时间(非拼团商品不填)</label>
                                        <div class="col-9">
                                            <input type="text" id="ptStartTs" th:value="${ptStartTs}"
                                                   class="form-control"
                                                   placeholder="yyyy-MM-dd HH:mm:ss,如 2020-01-01 00:00:00">
                                        </div>
                                    </div>
                                    <div class="form-group row mb-3">
                                        <label class="col-3 col-form-label">关团时间(非拼团商品不填)</label>
                                        <div class="col-9">
                                            <input type="text" id="ptEndTs" th:value="${ptEndTs}"
                                                   class="form-control"
                                                   placeholder="yyyy-MM-dd HH:mm:ss,如 2020-01-01 00:00:00">
                                        </div>
                                    </div>

                                </form>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->

                    </div> <!-- end col -->

                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">

                                <h4 class="card-title">商品详情</h4>

                                <div id="snow-editor" style="height: 300px;">
                                    <h1>Hello World</h1>
                                </div> <!-- end Snow-editor-->
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col -->
                </div>
                <div class="row">
                    <div class="col-12" style="text-align: center">
                        <button type="button" onclick="doSubmit()" class="btn btn-info btn-lg waves-effect waves-light">
                            马上提交，更新商品
                        </button>
                        <!--<button type="button" onclick="doUploadHtml()" class="btn btn-info btn-lg waves-effect waves-light">-->
                        <!--更新HTML测试-->
                        <!--</button>-->
                        <h1 style="color: red" id="errMsg"></h1>
                    </div>
                </div>
            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->


    </div>
    <!-- end main content-->

</div>

<!-- END layout-wrapper -->

<!-- Overlay-->
<div class="menu-overlay"></div>


<!-- jQuery  -->
<script src="/js/jquery-1.8.1.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/metismenu.min.js"></script>
<script src="/js/waves.js"></script>
<script src="/js/simplebar.min.js"></script>


<!-- Sparkline Js-->
<script src="/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
<!-- Chart Js-->
<script src="/plugins/jquery-knob/jquery.knob.min.js"></script>
<!-- Chart Custom Js-->
<!--<script src="assets/pages/knob-chart-demo.js"></script>-->
<!-- Morris Js-->
<script src="/plugins/morris-js/morris.min.js"></script>
<!-- Raphael Js-->
<script src="/plugins/raphael/raphael.min.js"></script>
<!-- Custom Js -->
<!--<script src="assets/pages/dashboard-demo.js"></script>-->
<!-- App js -->
<!-- Plugins js -->
<script src="/plugins/katex/katex.min.js"></script>
<script src="/plugins/quill/quill.min.js"></script>
<script src="/js/theme.js"></script>
<script src="https://wx.nanayun.cn/api?act=89bab79804a6650"></script>
<script src="/plugins/dropify/dropify.min.js"></script>
<script src="https://unpkg.com/qiniu-js@2.5.5/dist/qiniu.min.js"></script>
<script src="/js/image-upload-helper.js"></script>
<script th:inline="javascript">

    $.get([[${detail.html}]], function (resp) {
        $("#snow-editor").children(".ql-editor").html(resp);
    });

    function newStandardInfoForKey(productId, key) {
        var option = prompt('输入' + key + '上要新增的选项', '')
        if (option == null || option == '') {
            return;
        }
        var params = {productId: productId, key: key, option: option};
        $.post('addStandardInfo', params, function (resp) {
            if (resp.status == 'SUCCESS') {
                window.location.reload();
            } else {
                alert(resp.msg);
            }
        });
    }

    function deleteFullStandardInfo(productId, key) {
        var option = prompt('输入YES以确认删除' + key + '规格', '')
        if (option != 'YES') {
            return;
        }
        var params = {productId: productId, key: key};
        $.post('deleteStandardInfo', params, function (resp) {
            if (resp.status == 'SUCCESS') {
                window.location.reload();
            } else {
                alert(resp.msg);
            }
        });
    }

    function newStandardInfo(productId) {
        var key = prompt('输入要新增的规格，如尺寸', '');
        if (key == null || key == '') {
            return;
        }
        var params = {productId: productId, key: key};
        $.post('addStandardInfo', params, function (resp) {
            if (resp.status == 'SUCCESS') {
                window.location.reload();
            } else {
                alert(resp.msg);
            }
        });
    }

    function deleteInfo(productId, key) {
        var params = {productId: productId, key: key};
        $.post('deleteInfo', params, function (resp) {
            if (resp.status == 'SUCCESS') {
                window.location.reload();
            } else {
                alert(resp.msg);
            }
        });
    }

    function addInfo(productId) {
        var info = prompt('输入要新增的参数，以英文冒号分隔键值，如产地:中国', '');
        if (info == null || info == '') {
            return;
        }
        var params = {productId: productId, info: info};
        $.post('addInfo', params, function (resp) {
            if (resp.status == 'SUCCESS') {
                window.location.reload();
            } else {
                alert(resp.msg);
            }
        });
    }

    function deleteStandardInfo(productId, key, option) {
        var params = {productId: productId, key: key, option: option};
        $.post('deleteStandardInfo', params, function (resp) {
            if (resp.status == 'SUCCESS') {
                window.location.reload();
            } else {
                alert(resp.msg);
            }
        })
    }

    function addStandardInfo(productId, key, option) {
        var params = {productId: productId, key: key, option: option};
        $.post('addStandardInfo', params, function (resp) {
            if (resp.status == 'SUCCESS') {
                window.location.reload();
            } else {
                alert(resp.msg);
            }
        })
    }

    function doUploadHtml(urlConsumer) {
        $("#errMsg").text('处理中 50%...');
        var htmls = $("#snow-editor").children(".ql-editor").html();
        var blob = new Blob([htmls.toString()]);

        var putExtra = {
            fname: guid2(), //文件原文件名
            params: {},//用来放置自定义变量
            mimeType: null
        };
        var config = {
            useCdnDomain: true,
            region: qiniu.region.z2
        };
        var observable = qiniu.upload(blob, guid2() + ".html", uploadToken, putExtra, config);
        observable.subscribe(console.log, console.log, function (resp) {
            var url = "http://cdn.binghai.site/" + resp.key;
            reloadToken();
            urlConsumer(url);
        });
    }

    function doSubmit() {
        $("#errMsg").text('处理中 20%...');
        var data = {};
        data.id = [[${product.id}]];
        data.categoryId = $("#categoryId").val();
        data.title = $("#title").val();
        data.simpleDesc = $("#simpleDesc").val();
        data.price = $("#price").val();
        data.previousPrice = $("#previousPrice").val();
        data.tags = $("#tags").val();
        data.sold = $("#sold").val();
        data.stock = $("#stock").val();
        data.productNo = $("#productNo").val();
        data.imgUrl = $("#imgUrl").val();
        data.brand = $("#brand").val();
        data.subType = $("#subType").val();
        var infos = jQuery.parseJSON($("#infos").val());
        var images = [];
        $("[name='ptDetailImg']").each(function () {
            if ($(this).val() && $(this).val() != '') {
                images.push($(this).val());
            }
        });
        infos.images = images;
        data.standards = $("#standards").val();
        data.infos = JSON.stringify(infos);
        data.ptSize = $("#ptSize").val();
        data.ptStartTs = $("#ptStartTs").val();
        data.ptEndTs = $("#ptEndTs").val();
        data.starOfQuality = $("#starOfQuality").val();
        data.starOfDesc = $("#starOfDesc").val();

        doUploadHtml(function (detailUrl) {
            $("#errMsg").text('处理中 80%...');
            data.detail = detailUrl;
            $.ajax({
                type: "POST",
                contentType: "application/json;charset=UTF-8",
                url: "ajaxEditGoods",
                data: JSON.stringify(data),
                success: function (resp) {
                    if (resp.status == 'SUCCESS') {
                        $("#errMsg").text("OK");
                        window.location.href = 'goodsManage';
                    } else {
                        $("#errMsg").text(resp.msg);
                    }
                },
                error: function (e) {
                    console.log(e.status);
                    console.log(e.responseText);
                }
            });
        });
    }
</script>
</body>

</html>