<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>FastShop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <link rel="shortcut icon" href="/images/favicon.ico">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/theme.min.css" rel="stylesheet" type="text/css"/>
</head>

<body>

<!-- Begin page -->
<div id="layout-wrapper">
    <div class="header-border"></div>


    <!-- ========== Left Sidebar Start ========== -->
    <div th:include="manage/menus"></div>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0 font-size-18" th:text="${category == null?'商品管理':'商品管理/'+category.title}">
                                商品管理</h4>
                        </div>
                    </div>
                    <div class="col-12" th:if="${category != null && category.id == 999}">
                        <div class="page-title-box d-flex  justify-content-between">
                            <div class="alert alert-success" role="alert" >
                                拼团推荐商品会展示在"今日秒拼"栏目
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <div class="row" >
                    <div class="col-xl-4">
                        <a th:href="${category == null?'addGoods':'addGoods?categoryId='+category.id}">
                            <button type="button" class="btn btn-secondary waves-effect waves-light"
                                    th:text="${category == null?'增加商品':'增加【'+category.title+'】分类下的商品'}">增加商品
                            </button>
                        </a>
                    </div>
                    <div class="col-xl-4">
                        <form action="goodsManage" method="get">
                            <input placeholder="商品名称，支持模糊搜索" name="search"/>
                            <button class="btn btn-primary">搜索</button>
                        </form>
                    </div>
                </div>

                <ul class="nav nav-tabs mb-3" style="padding-top: 15px">
                    <li class="nav-item"
                        th:onclick="${'window.location.href=''?categoryId='+categoryId+'&page='+page+'&offline=false'''}">
                        <a href="#" data-toggle="tab" aria-expanded="false"
                           th:class="${offline == 'false'?'nav-link active':'nav-link'}">
                            <i class="mdi mdi-home-variant d-lg-none d-block"></i>
                            <span class="d-none d-lg-block">上架中</span>
                        </a>
                    </li>
                    <li class="nav-item"
                        th:onclick="${'window.location.href=''?categoryId='+categoryId+'&page='+page+'&offline=true'''}">
                        <a href="#" data-toggle="tab" aria-expanded="false"
                           th:class="${offline == 'true'?'nav-link active':'nav-link'}">
                            <i class="mdi mdi-account-circle d-lg-none d-block"></i>
                            <span class="d-none d-lg-block">已下架</span>
                        </a>
                    </li>
                    <li class="nav-item"
                        th:onclick="${'window.location.href=''?categoryId='+categoryId+'&page='+page+'&offline='''}">
                        <a href="" data-toggle="tab" aria-expanded="false"
                           th:class="${offline == 'null'?'nav-link active':'nav-link'}">
                            <i class="mdi mdi-settings-outline d-lg-none d-block"></i>
                            <span class="d-none d-lg-block">全部</span>
                        </a>
                    </li>
                </ul>

                <div style="height: 10px"></div>
                <div class="row">
                    <div class="col-md-6 col-xl-3" th:each="prd:${products}">
                        <div class="card">
                            <img class="img-fluid" th:src="${prd.imgUrl}" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title" th:text="${prd.title+(prd.offline?'(下架)':'')}"
                                    th:style="${'color:'+(prd.offline?'red':'green')}">Card title</h5>
                                <span class="badge badge-danger badge-pill" th:if="${prd.recommend != null && prd.recommend}">荐</span>

                                <span class="badge badge-secondary" th:if="${prd.ptSize != null}">拼团商品</span>
                                <span class="badge badge-warning" th:if="${prd.ptSize == null}">普通商品</span>
                                <span class="badge badge-info" th:text="${'描述:'+#numbers.formatDecimal(prd.starOfDesc,1,1)}">普通商品</span>
                                <span class="badge badge-info" th:text="${'质量:'+#numbers.formatDecimal(prd.starOfQuality,1,1)}">普通商品</span>

                                <span class="badge badge-light" th:if="${prd.tags != null}" th:each="p:${prd.tags.split(',')}" th:text="${p}">普通商品</span>
                                <div style="height: 10px"></div>
                                <h6 class="card-subtitle text-muted">
                                    <b th:text="${'￥'+prd.price/100.0}" style="color: green"></b>
                                    <del th:text="${'￥'+prd.previousPrice/100.0}" style="color: black"></del>
                                    <g th:text="${'已售:'+prd.sold}"></g>
                                    <g th:text="${'库存:'+prd.stock}"></g>
                                </h6>
                                <div style="height: 5px"></div>
                                <!--<h6 class="card-subtitle text-muted">-->

                                <!--</h6>-->
                                <p class="card-text" th:text="${prd.simpleDesc}">sssss.</p>

                                <div class="btn-group mb-2">
                                    <a th:href="${'javascript:offline('+prd.id+')'}">
                                        <button type="button"
                                                class="btn btn-danger btn-sm waves-effect waves-light">上下架商品
                                        </button>
                                    </a>
                                    <button type="button"
                                            class="btn btn-light  btn-sm dropdown-toggle dropdown-toggle-split"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="mdi mdi-chevron-down"></i><span class="sr-only">Toggle Dropdown</span>
                                    </button>
                                    <div class="dropdown-menu" x-placement="bottom-start"
                                         style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(95px, 35px, 0px);">
                                        <a class="dropdown-item" th:href="${'javascript:recommend('+prd.id+')'}" style="color:green">推荐/取消</a>
                                        <a class="dropdown-item" th:href="${'javascript:asChildCategory('+prd.id+','''+prd.title+''')'}" style="color:deeppink">分类直通车</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" th:href="${'javascript:removeItem('+prd.id+')'}" style="color:red">移除</a>
                                    </div>
                                </div>
                                <div class="btn-group mb-2">
                                    <a th:href="${'editGoods?id='+prd.id}">
                                        <button type="button" class="btn btn-info btn-sm waves-effect waves-light">编辑
                                        </button>
                                    </a>
                                </div>
                                <div class="btn-group mb-2">
                                    <button type="button" th:onclick="${'copyCategoryUrl('+prd.id+')'}"
                                            class="btn btn-warning btn-sm waves-effect waves-light">链接
                                    </button>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link waves-effect"
                                   th:href="${'?categoryId='+categoryId+'&page='+(page-1)+'&offline='+offline}"
                                   aria-label="Previous">
                                    <span aria-hidden="true">上一页</span>
                                </a>
                            </li>
                            <li class="page-item active"><a class="page-link waves-effect" th:text="${page}">3</a></li>
                            <li class="page-item">
                                <a class="page-link"
                                   th:href="${'?categoryId='+categoryId+'&page='+(page+1)+'&offline='+offline}"
                                   aria-label="Next">
                                    <span aria-hidden="true">下一页</span>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>

            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->


    </div>
    <!-- end main content-->

</div>
<!-- END layout-wrapper -->

<!-- Overlay-->
<div class="menu-overlay"></div>
<script th:inline="javascript">
    var categories = [[${categories}]];
    function asChildCategory(pid,name) {
        var mapping = {};
        for(var idx in categories){
            mapping[categories[idx].id] = categories[idx].title;
        }
        Swal.fire({
            title: '直推到哪个主分类下？',
            input: 'select',
            inputOptions: mapping,
            inputPlaceholder: '选择后它将与子分类同级显示'
        }).then(function (superId) {
            Swal.fire({
                title: '重命名,建议5个字内',
                input: 'text',
                inputValue: name,
                inputPlaceholder: '名称不要太长'
            }).then(function (rename) {
                $.getJSON('ajaxPushAsChildCategory?superId='+superId.value+"&name="+rename.value+"&productId="+pid,function (resp) {
                    Swal.fire({
                        toast: true,
                        position: 'top-end',
                        icon: 'success',
                        title: '操作成功!',
                        showConfirmButton: false,
                        timer: 1500
                    });
                })
            });
        });
    }
</script>
<script th:inline="javascript">
    var baseUrl = [[${categoryId == 999?'http://fastshop.bigdata8.xin/shop/ptDetail?item=':'http://fastshop.bigdata8.xin/shop/detail?productId='}]]

    function copyCategoryUrl(cid) {
        if (copyText(baseUrl + cid)) {
            Swal.fire({
                toast: true,
                position: 'top-end',
                icon: 'success',
                title: '复制成功!',
                showConfirmButton: false,
                timer: 1000
            });
        } else {
            Swal.fire({
                toast: true,
                position: 'top-end',
                icon: 'error',
                title: '复制失败!浏览器不支持!',
                showConfirmButton: false,
                timer: 1500
            });
        }
    }

    function offline(pid) {
        $.get('changeOffline?id=' + pid, function (resp) {
            window.location.reload();
        })
    }

    function recommend(pid) {
        $.get('recommendProduct?id=' + pid, function (resp) {
            window.location.reload();
        })
    }

    function removeItem(pid) {
        $.get('removeItem?id=' + pid, function (resp) {
            window.location.reload();
        })
    }

    function copyText(text) {
        var textarea = document.createElement("input");//创建input对象
        var currentFocus = document.activeElement;//当前获得焦点的元素
        document.body.appendChild(textarea);//添加元素
        textarea.value = text;
        textarea.focus();
        if (textarea.setSelectionRange)
            textarea.setSelectionRange(0, textarea.value.length);//获取光标起始位置到结束位置
        else
            textarea.select();
        try {
            var flag = document.execCommand("copy");//执行复制
        } catch (eo) {
            var flag = false;
        }
        document.body.removeChild(textarea);//删除元素
        currentFocus.focus();
        return flag;
    }
</script>
<!-- jQuery  -->
<script src="/js/jquery-1.8.1.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/metismenu.min.js"></script>
<script src="/js/waves.js"></script>
<script src="/js/simplebar.min.js"></script>
<!-- Sweet Alerts Js-->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>


<!-- Sparkline Js-->
<script src="/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
<!-- Chart Js-->
<script src="/plugins/jquery-knob/jquery.knob.min.js"></script>
<!-- Chart Custom Js-->
<!--<script src="assets/pages/knob-chart-demo.js"></script>-->
<!-- Morris Js-->
<script src="/plugins/morris-js/morris.min.js"></script>
<!-- Raphael Js-->
<script src="/plugins/raphael/raphael.min.js"></script>
<!-- Custom Js -->
<!--<script src="assets/pages/dashboard-demo.js"></script>-->
<!-- App js -->
<script src="/js/theme.js"></script>
</body>

</html>