<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>FastShop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <link rel="shortcut icon" href="/images/favicon.ico">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/theme.min.css" rel="stylesheet" type="text/css"/>
</head>

<body>

<!-- Begin page -->
<div id="layout-wrapper">
    <div class="header-border"></div>


    <!-- ========== Left Sidebar Start ========== -->
    <div th:include="manage/menus"></div>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0 font-size-18">总览页</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->
                <div class="row">
                    <div class="col-md-6 col-xl-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="mb-4">
                                    <span class="badge badge-soft-primary float-right"
                                          th:text="${'总会员: '+totalMemberSize}">总会员数</span>
                                    <h5 class="card-title mb-0">今日新增会员</h5>
                                </div>
                                <div class="row d-flex align-items-center mb-4">
                                    <div class="col-8">
                                        <h2 class="d-flex align-items-center mb-0" th:text="${newMemberSize}">
                                            $17.21
                                        </h2>
                                    </div>
                                </div>

                            </div>
                            <!--end card body-->
                        </div><!-- end card-->
                    </div> <!-- end col-->

                    <div class="col-md-6 col-xl-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="mb-4">
                                    <span class="badge badge-soft-primary float-right"
                                          th:text="${'转化率 '+(todayTotalOrder>0?#numbers.formatDecimal(todayPaidOrder*100.0/todayTotalOrder,1,1)+'%':'0%')}">转化率</span>
                                    <h5 class="card-title mb-0">今日付款订单</h5>
                                </div>
                                <div class="row d-flex align-items-center mb-4">
                                    <div class="col-8">
                                        <h2 class="d-flex align-items-center mb-0" th:text="${todayPaidOrder}">
                                            $1875.54
                                        </h2>
                                    </div>
                                </div>

                            </div>
                            <!--end card body-->
                        </div><!-- end card-->
                    </div> <!-- end col-->

                    <div class="col-md-6 col-xl-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="mb-4">
                                    <span class="badge badge-soft-primary float-right"
                                          th:text="${'客单价 ￥'+todayAvgAmount/100.0}">客单价</span>
                                    <h5 class="card-title mb-0">今日交易额</h5>
                                </div>
                                <div class="row d-flex align-items-center mb-4">
                                    <div class="col-8">
                                        <h2 class="d-flex align-items-center mb-0"
                                            th:text="${'￥'+todayPaidAmount/100.0}">
                                            $784.62
                                        </h2>
                                    </div>

                                </div>

                            </div>
                            <!--end card body-->
                        </div>
                        <!--end card-->
                    </div> <!-- end col-->

                    <div class="col-md-6 col-xl-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="mb-4">
                                    <span class="badge badge-soft-primary float-right">待定</span>
                                    <h5 class="card-title mb-0">待定</h5>
                                </div>
                                <div class="row d-flex align-items-center mb-4">
                                    <div class="col-8">
                                        <h2 class="d-flex align-items-center mb-0">
                                            待定
                                        </h2>
                                    </div>
                                </div>

                            </div>
                            <!--end card body-->
                        </div><!-- end card-->
                    </div> <!-- end col-->
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">

                                <h4 class="card-title">一周交易额</h4>
                                <p class="card-subtitle mb-4">交易额</p>

                                <div id="week-deal-data" class="morris-chart"></div>

                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                        <!--end card-->
                    </div>
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">

                                <h4 class="card-title">一周交易量</h4>
                                <p class="card-subtitle mb-4">转换率</p>

                                <div id="week-order-data" class="morris-chart"></div>

                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                        <!--end card-->
                    </div>

                    <!--end col-->

                </div>
            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->


    </div>
    <!-- end main content-->

</div>
<!-- END layout-wrapper -->

<!-- Overlay-->
<div class="menu-overlay"></div>


<!-- jQuery  -->
<script src="/js/jquery-1.8.1.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/metismenu.min.js"></script>
<script src="/js/waves.js"></script>
<script src="/js/simplebar.min.js"></script>


<!-- Sparkline Js-->
<script src="/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
<!-- Chart Js-->
<script src="/plugins/jquery-knob/jquery.knob.min.js"></script>
<!-- Chart Custom Js-->
<!--<script src="assets/pages/knob-chart-demo.js"></script>-->
<!-- Morris Js-->
<script src="/plugins/morris-js/morris.min.js"></script>
<!-- Raphael Js-->
<script src="/plugins/raphael/raphael.min.js"></script>
<!-- Custom Js -->
<!--<script src="assets/pages/dashboard-demo.js"></script>-->
<!-- App js -->
<script src="/js/theme.js"></script>
<script th:inline="javascript">
    Morris.Line({
        element: "week-deal-data",
        gridLineColor: "#eef0f2",
        lineColors: ["#23b5e2", "#e83e8c"],
        data: [[${weekDealData}]],
        xkey: "date",
        ykeys: ["orderAmt", "paidAmt"],
        hideHover: "auto",
        resize: !0,
        labels: ["下单金额", "支付金额"]
    });

    Morris.Line({
        element: "week-order-data",
        gridLineColor: "#eef0f2",
        lineColors: ["#23b5e2", "#e83e8c"],
        data: [[${weekOrderData}]],
        xkey: "date",
        ykeys: ["orderSize", "paidSize"],
        hideHover: "auto",
        resize: !0,
        labels: ["总订单数", "支付订单数"]
    });
</script>
</body>

</html>