<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <div class="navbar-brand-box">
            <a href="index.html" class="logo">
                <i class="mdi mdi-album"></i>
                <span>曹操速购</span>
            </a>
        </div>
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title">主要</li>
                <li >
                    <a href="index" class="waves-effect"><i
                            class="mdi mdi-home-analytics "></i><span>概览</span></a>
                </li>
                <li>
                    <a href="categoryConfig" class="waves-effect"><i class=" mdi mdi-file-document-box-plus-outline"></i><span>分类配置</span></a>
                </li>
                <li>
                    <a href="goodsManage" class="waves-effect"><i class="mdi mdi-google-podcast"></i><span>商品管理</span></a>
                </li>
                <li>
                    <a href="orderManage" class="waves-effect"><i class="mdi mdi-google-podcast"></i><span>订单管理</span></a>
                </li>
                <li>
                    <a href="pageConfig" class="waves-effect"><i class="mdi mdi-google-podcast"></i><span>页面配置</span></a>
                </li>
                <li>
                    <a href="bannerConfig" class="waves-effect"><i class="mdi mdi-google-podcast"></i><span>Banner配置</span></a>
                </li>
                <li>
                    <a href="index" class="waves-effect"><i class="mdi mdi-gift"></i><span>优惠券</span></a>
                </li>
                <li>
                    <a href="imageUploader" class="waves-effect"><i class="mdi mdi-gift"></i><span>图片上传器</span></a>
                </li>
                <li>
                    <a href="schoolConfig" class="waves-effect"><i class="mdi mdi-gift"></i><span>学校管理</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
