<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>FastShop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <link rel="shortcut icon" href="/images/favicon.ico">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/theme.min.css" rel="stylesheet" type="text/css"/>
    <!-- Dropify css -->
    <link href="/plugins/dropify/dropify.min.css" rel="stylesheet" type="text/css"/>
</head>

<body>

<!-- Begin page -->
<div id="layout-wrapper">
    <div class="header-border"></div>


    <!-- ========== Left Sidebar Start ========== -->
    <div th:include="manage/menus"></div>
    <!-- Left Sidebar End -->

    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0 font-size-18">页面配置</h4>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="page-title-box d-flex  justify-content-between">
                            <div class="alert alert-success" role="alert" th:if="${msg != null}" th:text="${msg}">
                                更新成功
                            </div>
                        </div>
                    </div>
                </div>

                <div style="height: 15px"></div>
                <div class="row">
                    <div class="col-xl-6" th:each="cfg:${configs}">

                        <div class="card">
                            <div class="card-body">

                                <h4 class="card-title" th:text="${cfg.key.name}">Horizontal Form</h4>
                                <form class="form-horizontal" th:id="${cfg.key.className}">
                                    <input type="hidden" name="className" th:value="${cfg.key.className}"/>
                                    <div class="form-group row mb-3" th:each="item:${cfg.value}">
                                        <label class="col-3 col-form-label" th:text="${item.name+':'}">Email</label>
                                        <div class="col-9">
                                            <input th:type="${item.img?'hidden':'text'}"
                                                   class="form-control"
                                                   th:name="${item.fieldName}"
                                                   th:id="${cfg.key.className+'_'+item.fieldName}"
                                                   th:value="${item.value}"/>

                                            <input th:if="${item.img}"
                                                   type="file"
                                                   class="dropify"
                                                   th:data-default-file="${item.value}"
                                                   th:id="${'bind_'+cfg.key.className+'_'+item.fieldName}"
                                                   onchange="doUpload(this)"/>
                                        </div>
                                    </div>
                                    <div style="text-align: center">
                                        <button type="button"
                                                th:onclick="${'doSubmitForm('''+cfg.key.className+''')'}"
                                                class="btn btn-primary waves-effect waves-light">更新模块
                                        </button>
                                    </div>
                                </form>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->

                    </div> <!-- end col -->

                </div>

            </div> <!-- container-fluid -->
        </div>
        <!-- End Page-content -->


    </div>
    <!-- end main content-->

</div>
<!-- END layout-wrapper -->

<!-- Overlay-->
<div class="menu-overlay"></div>

<script>
    function doSubmitForm(id) {
        var data = {};
        var params = $("#" + id).serializeArray();
        $.each(params, function () {
            data[this.name] = this.value;
        });
        $.ajax({
            type: "POST",
            contentType: "application/json;charset=UTF-8",
            url: "ajaxUpdatePageConfig",
            data: JSON.stringify(data),
            success: function (resp) {
                if (resp.status == 'SUCCESS') {
                    var timestamp = new Date().getTime();
                    window.location.href = 'pageConfig?update=' + timestamp;
                } else {
                    alert(resp.msg);
                }
            },
            error: function (e) {
                console.log(e.status);
                console.log(e.responseText);
            }
        });
    }
</script>

<!-- jQuery  -->
<script src="/js/jquery-1.8.1.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/metismenu.min.js"></script>
<script src="/js/waves.js"></script>
<script src="/js/simplebar.min.js"></script>


<!-- Sparkline Js-->
<script src="/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
<!-- Chart Js-->
<script src="/plugins/jquery-knob/jquery.knob.min.js"></script>
<!-- Chart Custom Js-->
<!--<script src="assets/pages/knob-chart-demo.js"></script>-->
<!-- Morris Js-->
<script src="/plugins/morris-js/morris.min.js"></script>
<!-- Raphael Js-->
<script src="/plugins/raphael/raphael.min.js"></script>
<!-- Custom Js -->
<!--<script src="assets/pages/dashboard-demo.js"></script>-->
<!-- App js -->
<script src="/js/theme.js"></script>
<script src="/plugins/dropify/dropify.min.js"></script>
<script src="https://unpkg.com/qiniu-js@2.5.5/dist/qiniu.min.js"></script>
<script src="/js/image-upload-helper.js"></script>
</body>

</html>