<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>FastShop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <link rel="shortcut icon" href="/images/favicon.ico">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/icons.min.css" rel="stylesheet" type="text/css"/>
    <link href="/css/theme.min.css" rel="stylesheet" type="text/css"/>


</head>

<body>

<!-- Begin page -->
<div id="layout-wrapper">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div style="height: 15px"></div>
                    <table id="datatable-buttons" class="table table-striped dt-responsive nowrap">
                        <thead>
                        <tr>
                            <th>序号</th>
                            <th>类型</th>
                            <th>状态</th>
                            <th>金额</th>
                            <th>记账时间</th>
                            <th>结算时间</th>
                            <th>备注</th>
                        </tr>
                        </thead>


                        <tbody>
                        <tr th:each="log:${logs}">
                           <td th:text="${log.id}"></td>
                           <td th:text="${log.scene.desc}"></td>
                           <td th:text="${log.state.desc}"></td>
                           <td th:text="${log.salary/100.0}"></td>
                           <td th:text="${log.createdTime}"></td>
                           <td th:text="${log.settlementDate}"></td>
                           <td th:text="${log.summary}"></td>
                        </tr>
                        </tbody>
                    </table>

                </div> <!-- end card body-->
            </div> <!-- end card -->
        </div><!-- end col-->
    </div>

</div>
<!-- jQuery  -->
<script src="/js/jquery-1.8.1.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>

</html>