<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <script>/*@cc_on window.location.href="http://support.dmeng.net/upgrade-your-browser.html?referrer="+encodeURIComponent(window.location.href); @*/</script>
    <title></title>
    <link type="text/css" rel="stylesheet" href="/css/style.css"/>
    <script type="text/javascript" src="/js/jquery-1.8.1.min.js"></script>
</head>

<body>

<div class="clear"></div>
<div class="kbox"></div>
<div class="jfbox">
    <div style="text-align: center;padding-top: 40px" th:if="${prints == null || prints.size() == 0}">
        <img src="http://cdn.binghai.site/o_1e079n6rk19701ukmdl2oc7iq8a.png" style="width: 30%"/>
        <br/>
        <br/>
        <br/>
        <h3>这里空荡荡的，连只老鼠都没有</h3>
    </div>

    <div class="jfbox1" th:id="${'c_id_'+p.id}" th:each="p:${prints}">
        <div class="jfbox1_L">
            <img th:src="${p.product.imgUrl}"/>
        </div>
        <div class="jfbox1_R">
            <div class="jfbox1_R1">
                <div class="v1" th:text="${p.product.title}">圣多明尼2015冬季冬装新款女装韩版宽...</div>
                <div class="v1" th:text="${p.createdTime}">圣多明尼2015冬季冬装新款女装韩版宽...</div>
                <div class="v2">
                    <a th:href="${'javascript:disFoot('+p.id+')'}">
                        <img src="/images/del.png"/>
                    </a>
                </div>
            </div>
        </div>
        <div class="clear"></div>
    </div>

</div>
</body>
<script th:inline="javascript">
    var total = [[${prints.size()}]];

    function disFoot(itemId) {
        total--;
        $('#c_id_' + itemId).hide();
        $.getJSON('deleteFootPrint?footId=' + itemId, function (resp) {

        })
        if (total <= 0) {
            window.location.reload();
        }
    }
</script>
</html>
