<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>超值拼团</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link type="text/css" rel="stylesheet" href="/css/base.css">
    <link type="text/css" rel="stylesheet" href="/css/icon.css">
    <link type="text/css" rel="stylesheet" href="/css/home.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
    <link href="iTunesArtwork@2x.png" sizes="114x114" rel="apple-touch-icon-precomposed">

    <script>
        function createT(pid) {
            window.location.href = "createTuan?productId=" + pid;
        }
    </script>
</head>
<body>

<section class="aui-flexView">
    <header class="aui-navBar aui-navBar-fixed">
        <a href="javascript:history.back(-1)" class="aui-navBar-item">
            <i class="icon icon-return"></i>
        </a>
        <div class="aui-center">
            <span class="aui-center-title">超值拼团</span>
        </div>
        <a href="javascript:;" class="aui-navBar-item">
            <i class="icon icon-share" data-ydui-actionsheet="{target:'#actionSheet',closeElement:'#cancel'}"></i>
        </a>
    </header>
    <section class="aui-scrollView">
        <div class="img_gallery" id="commodity">
            <div class="main_img">
                <ul>
                    <li th:each="img:${images}">
                        <img th:src="${img}" alt="">
                    </li>
                </ul>
            </div>
            <div class="img_font">
                <span th:each="img,stat:${images}" th:text="${(stat.index+1)+'/'+images.size()}">1/4</span>
            </div>
        </div>
        <div class="aui-box-gradual">
            <div class="aui-flex">
                <div class="aui-time-price">
                    <i>￥</i>
                    <g th:text="${product.price/100.0}">9.9</g>
                </div>
                <div class="aui-flex-box aui-text-lines">
                    <h3 th:text="${product.previousPrice/100.0}">￥29.9</h3>
                    <p>
                        <em class="aui-one" th:text="${'已团'+product.sold}">已团7.8k</em>
                        <em class="aui-two" th:text="${product.ptSize+'人团'}">2人团</em>
                    </p>
                </div>
                <div class="aui-time-box">
                    <p>距结束还剩</p>
                    <div class="time-item">
                        <span class="hour_show">00</span>
                        <em>:</em>
                        <span class="minute_show">00</span>
                        <em>:</em>
                        <span class="second_show">00</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="aui-flex aui-flex-clear-line">
            <div class="aui-flex-box">
                <h4 th:text="${product.title}">蒙自石榴水果*2个</h4>
                <p th:text="${product.simpleDesc}">粉色玛瑙 天生丽质 好水果</p>
            </div>
            <div class="aui-share-box" data-ydui-actionsheet="{target:'#actionSheet',closeElement:'#cancel'}">
                <i class="aui-icon-share"></i>
                <p>分享</p>
            </div>
        </div>
        <div class="aui-news-cox-box">
            <div class="aui-news-cox aui-flex">
                <div class="aui-news-cox-red">
                    <img src="/images/icon-qmt.png" alt="">
                </div>
                <div class="aui-flex-box" th:text="${product.tags}">新用户和老用户可参团，开团
                </div>
            </div>
        </div>
        <div class="divHeight"></div>
        <div class="aui-coll-step  yd-step-theme1 clearfix">
            <p style="padding-bottom:20px; color:#ff3952">拼团玩法</p>
            <ul class="yd-step-content">
                <li class="yd-step-item yd-step-item-current">
                    <em class="yd-step-checkmark">
                        <i></i>
                    </em>
                    <div class="yd-step-item-top">
                        <div class="yd-step-item-top-text">
                            <span></span>
                        </div>
                    </div>
                    <div class="yd-step-item-bottom">
                        <p>选择商品</p>
                        <p>完成下单</p>
                    </div>
                </li>
                <li class="yd-step-item yd-step-item-current">
                    <em class="">
                        <i>2</i>
                    </em>
                    <div class="yd-step-item-top">
                        <div class="yd-step-item-top-text">
                            <span></span>
                        </div>
                    </div>
                    <div class="yd-step-item-bottom">
                        <p>邀请好友</p>
                        <p>好友参团</p>
                    </div>
                </li>
                <li class="yd-step-item">
                    <em class="">
                        <i>3</i>
                    </em>
                    <div class="yd-step-item-top">
                        <div class="yd-step-item-top-text">
                            <span></span>
                        </div>
                    </div>
                    <div class="yd-step-item-bottom">
                        <p>参团成功</p>
                        <p>等待成团</p>
                    </div>
                </li>
                <li class="yd-step-item">
                    <em class="">
                        <i>4</i>
                    </em>
                    <div class="yd-step-item-top">
                        <div class="yd-step-item-top-text">
                            <span></span>
                        </div>
                    </div>
                    <div class="yd-step-item-bottom">
                        <p>成团成功</p>
                        <p>即刻发货</p>
                    </div>
                </li>
            </ul>
        </div>
        <div class="divHeight"></div>
        <div class="aui-friend-coll" th:if="${joins != null && joins.size() > 0}">
            <div class="aui-friend-coll-head">
                <h2>小伙伴发起的拼团,您可以直接参与</h2>
            </div>
            <a th:href="${'joinTuan?tuanId='+join.id}" class="aui-flex b-line" th:each="join:${joins}">
                <div class="aui-friend-img">
                    <img th:src="${join.leaderAvatar}" alt="">
                </div>
                <div class="aui-flex-box">
                    <h4 th:text="${join.leaderName}">小二狗</h4>
                </div>
                <div class="aui-friend-differ">
                    <h4>还差 <em th:text="${join.totalSize-join.currentSize}">1</em>人成团</h4>
                    <h5>剩余:<em th:text="${join.last}">15:44:43</em></h5>
                </div>
                <div class="aui-friend-button">
                    <button>去参团</button>
                </div>
            </a>
        </div>
        <div class="divHeight"></div>
        <div class="aui-login-line">
            <h2>商品详情</h2>
        </div>
        <div class="aui-page-box" id="detailHtmlContainer">

        </div>
    </section>
    <footer class="aui-footer aui-footer-fixed">
        <a href="ptIndex" class="aui-tabBar-item aui-tabBar-item-active">
                    <span class="aui-tabBar-item-icon">
                        <i class="icon icon-home"></i>
                    </span>
            <span class="aui-tabBar-item-text">首页</span>
        </a>
        <button class="aui-button-btn" th:onclick="${'createT('+product.id+')'}">
            <i>￥</i>
            <g th:text="${product.price/100.0+'一键开团'}">2.9一键开团</g>
        </button>
    </footer>
</section>
<div class="m-actionsheet" id="actionSheet">
    <div class="aui-show-box">
        <div class="aui-show-box-title aui-footer-flex">
            <div class="b-line aui-coll-share-box">
                <h4 style="color: #7d7d7d">偷偷告诉你，点击右上角就可以分享啦!</h4>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/js/pt_layer.js"></script>
<script type="text/javascript" src="/js/pt_touchSlider.js"></script>
<script type='text/javascript' src='http://res.wx.qq.com/open/js/jweixin-1.0.0.js' charset='utf-8'></script>
<script th:inline="javascript">
    $.get([[${detail.html}]],function (resp) {
        $("#detailHtmlContainer").html(resp);
    });
</script>
<script type="text/javascript">
    $(document).ready(function () {

        $(".main_img").touchSlider({
            flexible: true,
            speed: 200,
            btn_prev: $("#btn_prev"),
            btn_next: $("#btn_next"),
            paging: $(".point a"),
            counter: function (e) {
                $(".point a").removeClass("on").eq(e.current - 1).addClass("on");
                $(".img_font span").hide().eq(e.current - 1).show();
            }
        });

    });
</script>
<script th:inline="javascript">
    function onShareSuccess(){

    }

    function onShareFailed(){

    }

    wx.config([[${wxShareConfig}]]);

    wx.ready(function () {
        wx.onMenuShareQQ({
            title: [[${'我发现了一个好东西:'+product.title}]], // 分享标题
            link: [[${'http://fastshop.bigdata8.xin/shop/ptDetail?item='+product.id}]], // 分享链接
            imgUrl: [[${images[0]}]], // 分享图标
            desc: [[${product.simpleDesc}]], // 分享描述
            success: function () {
                onShareSuccess();
            },
            cancel: function () {
                onShareFailed();
            }
        });
        wx.onMenuShareAppMessage({
            title: [[${'我发现了一个好东西:'+product.title}]], // 分享标题
            link: [[${'http://fastshop.bigdata8.xin/shop/ptDetail?item='+product.id}]], // 分享链接
            imgUrl: [[${images[0]}]], // 分享图标
            desc: [[${product.simpleDesc}]], // 分享描述
            type: 'link', // 分享类型,music、video或link，不填默认为link
            dataUrl: '', // 如果type是music或video，则要提供数据链接，默认为空
            success: function () {
                onShareSuccess();
            },
            cancel: function () {
                onShareFailed();
            }
        });
        wx.onMenuShareTimeline({
            title: [[${'我发现了一个好东西:'+product.title}]], // 分享标题
            link: [[${'http://fastshop.bigdata8.xin/shop/ptDetail?item='+product.id}]], // 分享链接
            imgUrl: [[${images[0]}]], // 分享图标
            desc: [[${product.simpleDesc}]], // 分享描述
            success: function () {
                onShareSuccess();
            },
            cancel: function () {
                onShareFailed();
            }
        });
        wx.onMenuShareQZone({
            title: [[${'我发现了一个好东西:'+product.title}]], // 分享标题
            link: [[${'http://fastshop.bigdata8.xin/shop/ptDetail?item='+product.id}]], // 分享链接
            imgUrl: [[${images[0]}]], // 分享图标
            desc: [[${product.simpleDesc}]], // 分享描述
            success: function () {
                onShareSuccess();
            },
            cancel: function () {
                onShareFailed();
            }
        });
        wx.showOptionMenu();
    });
    
    
    var intDiff = parseInt([[${endTs}]]);

    //倒计时总秒数量

    function timer(intDiff) {
        window.setInterval(function () {
            var day = 00
                , hour = 00
                , minute = 00
                , second = 00;
            //时间默认值
            if (intDiff > 0) {
                day = Math.floor(intDiff / (60 * 60 * 24));
                hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
                minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
                second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
            }
            if (hour < 10) {
                hour = '0' + hour;
            }
            if (minute <= 9)
                minute = '0' + minute;
            if (second <= 9)
                second = '0' + second;
            $('.hour_show').html('<s id="h"></s>' + hour + ' ');
            $('.minute_show').html('<s></s>' + minute + ' ');
            $('.second_show').html('<s></s>' + second + ' ');
            intDiff--;
        }, 1000);
    }

    $(function () {
        timer(intDiff);
    });
</script>
</body>
</html>
