<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>超值拼团</title>
    <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport"/>
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style"/>
    <meta content="telephone=no" name="format-detection"/>
    <link href="/css/pin_style.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<section class="aui-flexView" style="height:auto" id="navHead">
    <header class="aui-navBar aui-navBar-fixed" id="nav-wrap">
        <a href="index" class="aui-navBar-item">
            <i class="icon icon-return"></i>
        </a>
        <div class="aui-center">
            <span class="aui-center-title">超值拼团</span>
        </div>
        <a href="javascript:;" class="aui-navBar-item"
           data-ydui-actionsheet="{target:'#actionSheet',closeElement:'#cancel'}">
            <i class="icon icon-share"></i>
        </a>
    </header>
    <section class="aui-scrollView">
        <div class="aui-ass-head">
            <img src="/images/head.png" alt="">
        </div>
        <div class="m-slider" data-ydui-slider>
            <div class="slider-wrapper">
                <div class="slider-item" th:each="ban:${banners}">
                    <a th:href="${ban.target}">
                        <img th:src="${ban.url}" alt="">
                    </a>
                </div>
            </div>
            <div class="slider-pagination"></div>
        </div>
        <div class="aui-title-one">
            <img src="/images/title.png" alt="">
        </div>
        <div class="aui-ass-link">
            <a th:href="${'ptDetail?item='+rcm.id}" class="aui-flex" th:each="rcm:${recommends}">
                <div class="aui-ass-img">
                    <img th:src="${rcm.imgUrl}" alt="">
                </div>
                <div class="aui-flex-box">
                    <h2 th:text="${rcm.title}">臻爱粽子大礼包真真老老</h2>
                    <p th:text="${rcm.simpleDesc}">鲜肉粽子140gX4蛋黄粽子1-00gx2金丝枣粽子</p>
                    <span><em th:text="${rcm.ptSize+'人团'}">2人团</em><g th:text="${'已拼'+rcm.sold+'件'}"></g></span>
                    <div class="aui-flex aui-flex-one">
                        <div class="aui-flex-box">
                            <h2><em><i>￥</i>
                                <g th:text="${rcm.price/100.0}">29.99</g>
                            </em>单买价￥
                                <g th:text="${rcm.previousPrice/100.0}">99</g>
                            </h2>
                        </div>
                        <div class="aui-button-get">
                            <button>去开团</button>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="aui-ad-img">
            <img src="/images/title1.png" alt="">
        </div>
        <div class="aui-list-theme-box">
            <a th:href="${'ptDetail?item='+rcm.id}" class="aui-list-item" th:each="rcm:${products}">
                <div class="aui-list-theme-img">
                    <img th:src="${rcm.imgUrl}" alt="">
                </div>
                <div class="aui-list-theme-message">
                    <h3 class="aui-list-theme-title" th:text="${rcm.title}">智能陪护让你的孩子赢在起跑线上面</h3>
                    <h3 class="aui-list-theme-subtitle" th:text="${rcm.simpleDesc}">预售商品 限时抽取三名幸运奖</h3>
                    <div class="aui-flex aui-flex-one">
                        <div class="aui-flex-box">
                            <span><em th:text="${rcm.ptSize+'人团'}">2人团</em><g th:text="${'已拼'+rcm.sold+'件'}"></g></span>
                            <h2><em><i>￥</i>
                                <g th:text="${rcm.price/100.0}">29.99</g>
                            </em>单买价￥
                                <g th:text="${rcm.previousPrice/100.0}">99</g>
                            </h2>
                        </div>
                    </div>
                    <div class="aui-button-get aui-button-get-one">
                        <button>去开团</button>
                    </div>
                </div>
            </a>
        </div>

    </section>
</section>
</body>
<div class="m-actionsheet" id="actionSheet">
    <div class="aui-show-box">
        <div class="aui-show-box-title aui-footer-flex">
            <div class="b-line aui-coll-share-box">
                <a href="javascript:;" class="aui-coll-share-item">
                    <div class="aui-coll-share-img">
                        <img src="/images/icon-wx.png" alt="">
                    </div>
                    <div class="aui-coll-share-text">微信好友</div>
                </a>
                <a href="javascript:;" class="aui-coll-share-item">
                    <div class="aui-coll-share-img">
                        <img src="/images/icon-pyq.png" alt="">
                    </div>
                    <div class="aui-coll-share-text">朋友圈</div>
                </a>
                <a href="javascript:;" class="aui-coll-share-item">
                    <div class="aui-coll-share-img">
                        <img src="/images/icon-qq.png" alt="">
                    </div>
                    <div class="aui-coll-share-text">QQ</div>
                </a>
                <a href="javascript:;" class="aui-coll-share-item">
                    <div class="aui-coll-share-img">
                        <img src="/images/icon-kj.png" alt="">
                    </div>
                    <div class="aui-coll-share-text">QQ空间</div>
                </a>
                <a href="javascript:;" class="aui-coll-share-item">
                    <div class="aui-coll-share-img">
                        <img src="/images/icon-txw.png" alt="">
                    </div>
                    <div class="aui-coll-share-text">腾讯微博</div>
                </a>
                <a href="javascript:;" class="aui-coll-share-item">
                    <div class="aui-coll-share-img">
                        <img src="/images/icon-wb.png" alt="">
                    </div>
                    <div class="aui-coll-share-text">新浪微博</div>
                </a>
            </div>
            <div class="aui-coll-cancel">
                <a href="javascript:;" id="cancel" class="">取消
                </a>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/jquery-1.8.1.min.js"></script>
<script type="text/javascript" src="/js/pt_slider.js"></script>
<script type="text/javascript" src="/js/pt_layer.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var navHeight = $("#navHead").offset().top;
        var navFix = $("#nav-wrap");
        $(window).scroll(function () {
            if ($(this).scrollTop() > navHeight) {
                navFix.addClass("aui-flex");
            } else {
                navFix.removeClass("aui-flex");
            }
        })
    });

    $(document).ready(function () {
        $(".btn-slide").click(function () {
            $("#show").slideToggle();
        });
    });
</script>
</html>
