<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <meta name="renderer" content="webkit"/>
    <meta name="force-rendering" content="webkit"/>
    <script type="text/javascript" src="/js/jquery-1.8.1.min.js"></script>
    <title>选择优惠券</title>
    <link type="text/css" rel="stylesheet" href="/css/style.css"/>
    <!--fy-alert-->
    <link type="text/css" rel="stylesheet" href="/css/fy-alert.css"/>
    <script type="text/javascript" src="/js/fy-alert.js"></script>
</head>

<body>
<div class="headerbox">
    <div class="header">
        <div class="headerL">
            <a href="my" class="goback"><img src="/images/goback.png"/></a>
        </div>
        <div class="headerC">
            <p>选择优惠券</p>
        </div>
        <div class="headerR"></div>
    </div>
</div>
<div class="clear"></div>
<div class="hbox"></div>
<div class="clear"></div>

<div class="quannewsbox1">
    <div style="text-align: center;padding-top: 40px" th:if="${coupons == null || coupons.size() == 0}">
        <img src="http://cdn.binghai.site/o_1e079n6rk19701ukmdl2oc7iq8a.png" style="width: 30%"/>
        <br/>
        <br/>
        <br/>
        <h3>你忘了没有可用的优惠券了吗???</h3>
    </div>
    <div class="quannews_1" th:each="cp:${coupons}">
        <div class="quanbg"><img src="/images/q1.png"/></div>
        <div class="quanb">
            <div class="quanL">
                <p class="p1" th:text="${cp.title}">实付满69元使用</p>
                <p class="p2" th:text="${cp.validTime}">2018年7月20日至2018年8月20日</p>
            </div>
            <div class="quanR">
                <p class="p3" th:text="${'￥'+cp.couponValue/100.0}">￥10元</p>
                <a th:href="${'buyConfirm?cartIds='+cartIds+'&addressId='+addressId+'&selectedCoupon='+cp.id}"
                   class="a1">立即使用</a>
            </div>
            <div class="clear"></div>
        </div>
        <div class="quanbg"><img src="/images/q3.png"/></div>
        <div class="quanstate"><img src="/images/q5.png"/></div>
    </div>
</div>
</body>
</html>
